input[type="button"] {
    width:60px; 
    height:40px;
    text-align:center;
    margin:3px;
    float:left;
    font-size: 25px;
    margin: 10px;
}

input[type="text"] {
    width: 340px; 
    margin: 20px;
    height:40px;
}